[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/pinnacle"]
	path = bundle/pinnacle
	url = https://github.com/wincent/pinnacle.git
[submodule "bundle/base16"]
	path = bundle/base16
	url = git@github.com:chriskempson/base16-vim.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/airline-themes"]
	path = bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/nerdtree-git-pugin"]
	path = bundle/nerdtree-git-pugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/fzf-vim"]
	path = bundle/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/youcompleteme"]
	path = bundle/youcompleteme
	url = https://github.com/valloric/youcompleteme
[submodule "bundle/vim-blade"]
	path = bundle/vim-blade
	url = https://github.com/jwalton512/vim-blade.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/scalpel"]
	path = bundle/scalpel
	url = https://github.com/wincent/scalpel.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ident-line"]
	path = bundle/ident-line
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/indent-line"]
	path = bundle/indent-line
	url = git@github.com:Yggdroot/indentLine.git
[submodule "bundle/php-foldexpr"]
	path = bundle/php-foldexpr
	url = git@github.com:swekaj/php-foldexpr.vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/php-highlight"]
	path = bundle/php-highlight
	url = git@github.com:StanAngeloff/php.vim.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = git@github.com:mattn/emmet-vim.git
