[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/pinnacle"]
	path = bundle/pinnacle
	url = https://github.com/wincent/pinnacle.git
[submodule "bundle/base16"]
	path = bundle/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/airline-themes"]
	path = bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/nerdtree-git-pugin"]
	path = bundle/nerdtree-git-pugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/fzf-vim"]
	path = bundle/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/vim-blade"]
	path = bundle/vim-blade
	url = https://github.com/jwalton512/vim-blade.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/scalpel"]
	path = bundle/scalpel
	url = https://github.com/wincent/scalpel.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ident-line"]
	path = bundle/ident-line
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/indent-line"]
	path = bundle/indent-line
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/php-foldexpr"]
	path = bundle/php-foldexpr
	url = https://github.com/swekaj/php-foldexpr.vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/php-highlight"]
	path = bundle/php-highlight
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vim-snippents"]
	path = bundle/vim-snippents
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/deplete"]
	path = bundle/deplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "bundle/php-vim"]
	path = bundle/php-vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = https://github.com/vim-vdebug/vdebug.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim-easy-align"]
	path = vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/iamcco/markdown-preview.vim.git
[submodule "bundle/vim-slime"]
	path = bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "bundle/vim-php-namespace"]
	path = bundle/vim-php-namespace
	url = git://github.com/arnaud-lb/vim-php-namespace.git
[submodule "bundle/neomake"]
	path = bundle/neomake
	url = https://github.com/neomake/neomake.git
[submodule "bundle/vim-vue"]
	path = bundle/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/lumiliet/vim-twig
